/*HOME*/
#home-body {
    background-image: url("images/butterfly.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 1152px;
}

#home-main{
    height: 100%;
}

#face {
    width: 220px;
    height: 271px;
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    margin-bottom: 300px;
    border-radius: 25px;
}

header {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 0 10px 0 10px;
}

nav > a:visited {
    color: blue;
}

nav > a:hover {
    color: #0d0d0d;
}

nav > a:active {
    color: red;
}

#text {
    text-align: center;
}

#home-article {
    display: flex;
    text-align: center;
    width: 700px;
    margin: 300px 550px;
}

#home-h1 {
    font-family: Segoe Print;
    text-decoration: underline;
    font-size: 40px;
}

/*About*/
/*come from*/
#about-body {
    margin: 0;
}

#come-from {
    background-image: url("images/iwatebank 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
}


#come-from-h1 {
    font-family: Segoe Print;
    text-decoration: underline;
    color: black;
    font-size: 40px;
    text-shadow: 4px 5px 6px rgb(128, 122, 122);
    margin: 40px 20px 10px 10px;
    text-align: center;
    width: 450px;
}

#come-from-p {
    font-family: Inter;
    font-size: 16px;
    text-align: left;
    color: black;
    text-shadow: 4px 5px 6px gray;
    text-align: center;
    width: 500px;
}

/*eating*/
#eating {
    background-image: url("images/eating.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
    position: relative;
}

#eating-h1 {
    font-family: Segoe Print;
    text-decoration: underline;
    color: white;
    font-size: 40px;
    text-shadow: 4px 5px 6px rgb(128, 122, 122);
    margin: 40px 20px 30px 30px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 200px;
}

#eating-p {
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    color: white;
    text-shadow: 4px 5px 9px rgb(49, 47, 47);
    text-align: center;
    width: 500px;
    position: absolute;
    bottom: 150px;

}

/*beauty*/
#beauty {
    background-image: url("images/beauty.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
    position: relative;
}

#beauty-h1 {
    font-family: Segoe Print;
    text-decoration: underline;
    color: black;
    font-size: 40px;
    text-shadow: 4px 5px 6px rgb(128, 122, 122);
    margin: 40px 20px 10px 10px;
    text-align: center;
    width: 350px;
    position: absolute;
    left: 10px;
}

#beauty-p {
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    color: black;
    text-shadow: 4px 5px 6px gray;
    text-align: center;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0px;
}

/*dance*/
#vital {
    background-image: url("images/vital.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
    position: relative;
    top: 24px;
}

#dance-h1 {
    font-family: Segoe Print;
    text-decoration: underline;
    color: black;
    font-size: 40px;
    text-shadow: 4px 5px 6px rgb(128, 122, 122);
    margin: 40px 20px 30px 30px;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 100px;
    left: 30px;
}

#jump {
    background-image: url("images/jump.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
    position: relative;
}

#favorite {
    background-image: url("images/favorite.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 573px;
    position: relative;
}

.dance-p {
    font-family: Inter;
    font-size: 18px;
    color: black;
    text-shadow: 4px 5px 6px gray;
    text-align: center;
    width: 450px;
    position: absolute;
    top: 210px;
    left: 60px;
}

/*contact*/
#contact {
    background-image: url("images/butterfly.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 24px;
}

#contact-h1 {
    font-family: Segoe Print;
    text-decoration: underline;
    font-size: 40px;
    text-shadow: 4px 5px 6px rgb(128, 122, 122);
}

#contact-p {
    font-family: Inter;
    font-size: 20px;
    color: black;
}

#contact-h1-p {
    text-align: center;
    width: 750px;
}

#contact-text {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 400px;
}

#form-all {
    display: flex;
}

#form-right {
    margin: 0 99px;
}

#name-textbox {
    margin-bottom: 22px;
}

#mail-textbox {
    margin-bottom: 48px;
}

.label {
    text-align: left;
    text-decoration: underline;
    font-family: Segoe Print;
}

.textbox {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgba(111, 218, 252, 0.55);
    width: 324px;
    height: 41px;
}

#send-button {
    width: 142px;
    height: 54px;
    background-color: lightgray;
    color: aliceblue;
    border-width: 1px;
}

#textarea {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgba(111, 218, 252, 0.55);
    width: 386px;
    height: 204px;
}